//------------------------------------------------------------------
//For any main menuu list item that has sub menu items, add a class="parent" to the main list item and it will show a down triangle

//Change the color variables on lines 16 and 17 to change the color of your menu.
//------------------------------------------------------------------




/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#hamburgerBtn { display: none; } /* hide the navigation button for all screen widths. We will show it below just for small screens */

//these two variables control the background color and text color
$menuColor: #56F;
$menuTextColor: rgba(255,255,255,0.9);

// limit the code below to the max width show in the media query below. This width should match the breakpoint where your suckerfish horizontal menu is to take over.
@media only screen and (max-width: 60rem) {

/* Pushes the body tag down to make room for the navigation bar at the top of the page */
    body { padding-top: 2.75rem; }
    
// places the navigation bar at the top of the page
    nav {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 2.75rem;
        background-color: $menuColor;
    }
    
//Styles the clickable hamburger button
	#hamburgerBtn {
		display: block;
		width: 7rem;
        height: 2.75rem;
        background: none;
        color: $menuTextColor;
		border: 0 none;
        font-size: 1.3rem;
        font-weight: normal;
        text-align: left;
        //used to enlarge an entity to match any words that may also be used, like OPEN
        i {font-size: 2rem;font-style: normal;}
        
	}
    
// These lines show and hide the two alternate icons for the open and close hamburger
    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: block;}
    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}

// unordered list Navigation Bar --------------------------------------------------------
	#primaryNav {
        height: 0; //hides the nav links 
        overflow: hidden;
		width: 20rem;
		background-color: $menuColor;
		margin: 0;
		padding: 0;
		z-index: 998; // places the links above the page content
        font-family: Verdana;
        font-weight: normal;
	}
    
// if the site has a class of active added to any list itme then it is darkened for "Wayfinding"
    #primaryNav li.current-menu-item a {background-color: rgba(0,0,0,0.25);}
    
// style the anchors
	#primaryNav li a {
		display: block; // shows the nav links
		width: 100%;
		padding: .75rem 2vw;
		font-size: 14px;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: $menuTextColor;
		text-decoration: none;
		border-top: 1px solid rgba(0,0,0,.2);
	}
    
// when hovering over any menu item or sub menu item darken by 5%
	#primaryNav li a:hover {
		background-color: rgba(0,0,0,.5);
	}

// Toggle the navigation bar to expand down when the javascript assigns the "open" class
	#primaryNav.open {height: auto;}

// .parent class indicates dropdown by adding a down arrow to the parent list item 
	#primaryNav li.parent > a::after {
        font-size: .75rem;
		content: "\25BC";
		color: rgba(255,255,255,.5);
		float: right;
	}

//hide the sub menu unordered list by default
	#primaryNav li ul {
		display: none;
		background: rgba(0,0,0,.3);
		padding: 0;
        margin: 0 ;
	}
    
// styles the sub menu anchors just a bit
    #primaryNav li ul a {
        padding-left: 20px;
    }
    
//display the sub menu unordered list on touch or hover
    #primaryNav li:hover ul {display: block;}
    
// style the sub menu items
	
	
} /* End Mobile Styles */
