/* --------------- * --------------- */
*
{
    box-sizing: border-box;
}

/* --------------- clear fix --------------- */
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}

/* --------------- similar --------------- */

footer
{
    background-color: $website-theme;
}

nav a,
main
{
    display: block;
}

header,
main,
footer
{
    padding: $break-gutter; 
}


/* --------------- body --------------- */
body
{
    font-family: 'Lato', sans-serif;
    font-size: $standard-font-size;
}

/* --------------- nav --------------- */

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: $off-white;
}

.nav-links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
}

.nav-links li
{
    list-style: none;
}

.nav-links a
{
    color: $off-white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 150%;
    padding: 8px 0 4px 0;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.nav-links a:after
{
    text-decoration: none;
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 75%; 
    padding-top: 4px; 
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
}

.bio-shift a:after 
{
    margin-left: 4px;
}

.nav-links a:hover:after
{
    border-bottom: 2.5px solid #fff;
}

.nav-break
{
    width: 2.5px;
    height: 33px;
    background-color: $off-white;
    margin: 5px;
}

.menu
{
    display: none;
}


/* --------------- front page --------------- */

.front-page
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 69, 79, 0.80)), to(rgba(154, 154, 154, 0.10))), url(../images/trees.jpg);
    background-image: linear-gradient(rgba(54, 69, 79, 0.80), rgba(154, 154, 154, 0.10)), url(../images/trees.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* --------------- main --------------- */

main h1
{
    text-align: center;
    font-size: 200%;
}

/* --------------- footer --------------- */
.f-wrapper
{
    width: 100%;
    background-color: $website-theme;
}

footer
{
    color: $off-white;
    text-align: center;
}