body
{
    overflow-x: hidden;
}

nav
{
    background-color: $nav-background-color;
    justify-content: flex-start;
    padding-left: 30px;
}

.nav-links
{
    position: absolute;
    left: 0px;
    height: 70vh;
    top: 8vh;
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

.nav-links li
{
    opacity: 0;
}

.nav-links a
{
    font-size: 115%;
}
.menu
{
    display: block;
    cursor: pointer;
}

.menu div
{
    width: 27px;
    height: 3px;
    background-color: $off-white;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-break
{
    display: none;
}

.nav-active
{
    transform: translateX(0%);  
    padding: 0;
    border-bottom-right-radius: 20px;
}

@keyframes navLinkFade {
    from 
    {
        opacity: 0;
        transform: translateX(-50px);
    }
    to 
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .menu-top
{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .menu-middle
{
    opacity: 0;
}
.toggle .menu-bottom
{
    transform: rotate(45deg) translate(-5px, -6px);
}