@for $i from 1 through 12 {
  $w:(($i/12)-0.02)*100%;
  .Mmedium-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
  $w:($i/12)*100%;
  .medium-#{$i}{flex-basis: $w;}
}

/*--------------------------------------------------------------*/

nav
{
    justify-content: space-around;
    padding: 0;
}

.nav-links
{
    width: 65%;
}

.flex-container div
{
    flex-basis: 33%;
}

/*--------------------------------------------------------------*/
main 
{
    width: 100vw;
}

.lawyers,
.cta,
.blogs,
.tip-faq 
{
    width: 95vw;
}

.lawyers
{
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
    div 
    {
        margin: 0;
        margin-bottom: 15px;
    }
}

.cta {
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
    button,
    .large-4 
    {   
        margin: 0;
        margin-bottom: 10px;
    }
}

.blogs {
    justify-content: space-between;
    div 
    {
        margin-bottom: 20px;
    }
}

.tip-faq {
  width: 95vw;
}

.faq 
{
    margin-top: 20px;
    h2, p, a 
    {
        width: 95%;
    }
}

